# Import Library dan API Token
Meng-import semua library yang dibutuhkan.

Pada script ini, yang API connector diguanakan adalah Twython.

Seluruh key dapat diperoleh di https://apps.twitter.com/

In [8]:
from twython import Twython
import json

In [9]:
TWITTER_APP_KEY = 'your app key'
TWITTER_APP_KEY_SECRET = 'your app key secret' 
TWITTER_ACCESS_TOKEN = 'your twitter access token'
TWITTER_ACCESS_TOKEN_SECRET = 'your twitter access token secret'

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

# Melakukan searching dengan Twitter API

In [10]:
term = 'Indonesia'
tweet_metadatas = t.search(q=term,count=100,result_type='recent')

### Mengambil salah satu tweet sebagai JSON

In [11]:
print(tweet_metadatas['statuses'][0])

{'created_at': 'Sun Oct 21 14:56:22 +0000 2018', 'id': 1054023593670000640, 'id_str': '1054023593670000640', 'text': '#Badminton\n#BadmintonLovers \nPodium #MD #DenmarkOpen2018 ,Congrats The Minionsüëèüëã Kalian juara, bawa nama Indonesia,‚Ä¶ https://t.co/WDuWJJ1l0D', 'truncated': True, 'entities': {'hashtags': [{'text': 'Badminton', 'indices': [0, 10]}, {'text': 'BadmintonLovers', 'indices': [11, 27]}, {'text': 'MD', 'indices': [36, 39]}, {'text': 'DenmarkOpen2018', 'indices': [40, 56]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/WDuWJJ1l0D', 'expanded_url': 'https://twitter.com/i/web/status/1054023593670000640', 'display_url': 'twitter.com/i/web/status/1‚Ä¶', 'indices': [117, 140]}]}, 'metadata': {'iso_language_code': 'in', 'result_type': 'recent'}, 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1192050210, 'id_str': '1192050210', 'name': 'Zupiro Gooners :)', 'screen_name': 'boejangzupiro', 'location': '', 'description': '@Arsenal Fans,Badminton Playersüòç\r\n\r\n..........Mention me for Follback ‚ò∫..........', 'url': 'https://t.co/HfIdU0B8WQ', 'entities': {'url': {'urls': [{'url': 'https://t.co/HfIdU0B8WQ', 'expanded_url': 'http://www.facebook.com/boejangzupiro@yahoo.com', 'display_url': 'facebook.com/boejangzupiro@‚Ä¶', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 824, 'friends_count': 322, 'listed_count': 0, 'created_at': 'Mon Feb 18 04:49:27 +0000 2013', 'favourites_count': 58, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': False, 'statuses_count': 3724, 'lang': 'id', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/790903848009240577/pJA5e8Jn_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/790903848009240577/pJA5e8Jn_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1192050210/1477682320', 'profile_link_color': '0084B4', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': {'id': '1a47cc1c172d543f', 'url': 'https://api.twitter.com/1.1/geo/id/1a47cc1c172d543f.json', 'place_type': 'city', 'name': 'Rantau Pandan', 'full_name': 'Rantau Pandan, Indonesia', 'country_code': 'ID', 'country': 'Indonesia', 'contained_within': [], 'bounding_box': {'type': 'Polygon', 'coordinates': [[[101.700264, -1.800258], [102.072205, -1.800258], [102.072205, -1.429229], [101.700264, -1.429229]]]}, 'attributes': {}}, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'possibly_sensitive': True, 'lang': 'in'}

### Mengambil isi tweet

In [12]:
print(tweet_metadatas['statuses'][0]['text'])

#Badminton
#BadmintonLovers
Podium #MD #DenmarkOpen2018 ,Congrats The Minionsüëèüëã Kalian juara, bawa nama Indonesia,‚Ä¶ https://t.co/WDuWJJ1l0D

### Mengambil username dari yang ngetweet

In [13]:
print(tweet_metadatas['statuses'][0]['user']['screen_name'])

boejangzupiro

### Mendapatkan jumlah following dan follower

In [14]:
print(tweet_metadatas['statuses'][0]['user']['friends_count'],tweet_metadatas['statuses'][0]['user']['followers_count'],)

322 824

# Menyimpan data pada Tabel
Data yang akan disimpan adalah tweet dan siapa yg melakukan tweet

### Memasukkan data yang digunakan ke dalam list of dictionary

In [15]:
data_list = []

for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

### Membuat tabel untuk menyimpan data

In [17]:
import pandas as pd
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Sun Oct 21 14:56:22 +0000 2018,#Badminton\n#BadmintonLovers \nPodium #MD #Den...,boejangzupiro
1,Sun Oct 21 14:56:22 +0000 2018,"RT @durspasi: Gol keempat Indonesia keren, Riv...",Rislynasywaa
2,Sun Oct 21 14:56:22 +0000 2018,RT @Bolanet: #LiveBolanet FT: Qatar U19 6-5 In...,GemaWahyuPutra1
3,Sun Oct 21 14:56:21 +0000 2018,"RT @TravelVida: Mentawai, Indonesia üáÆüá© https:/...",lblpzpnds
4,Sun Oct 21 14:56:21 +0000 2018,RT @mardiasih: Kandidat Doktor Vs Lived rea...,shitdayrush

### Menyimpan ke dalam XLSX

In [23]:
writer = pd.ExcelWriter('result.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()

### Menyimpan ke CSV

In [24]:
data.to_csv('result.csv',index=False)